      block footer
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
    // /.container
    // Bootstrap core JavaScript
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/holder.js')
