extends layout

block content
    // Marketing messaging and featurettes
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // START THE FEATURETTES
      .row.featurette.first
        .col-md-8.col-xs-12
          h2.featurette-heading
            | Feed the soil.
            div.sub 
              | Sustain the future.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            div.btn.btn-success.pull-right.sign-up
              | Sign Up now!
        .col-md-4.col-xs-12.top-img
          img.featurette-image.img-responsive(src='/images/logo.png', alt='Generic placeholder image')
          div.captions
            div.cap.caption1.lead
              span.header
                | Step 1: 
              | An empty compost bin is delivered directly to your door.
            div.cap.caption2.lead(style='display:none')
              span.header
                | Step 2: 
              | The full bin is picked up and transported to our composting facility where it is monitored for quality.
            div.cap.caption3.lead(style='display:none')
              span.header
                | Step 3: 
              | The ripe compost is used to grow the food you will soon enjoy from your local businesses.

      hr.featurette-divider

      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(data-src='holder.js/140x140', alt='Generic placeholder image')
          h2 Heading
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
        .col-lg-4
          img.img-circle(data-src='holder.js/140x140', alt='Generic placeholder image')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
        .col-lg-4
          img.img-circle(data-src='holder.js/140x140', alt='Generic placeholder image')
          h2 Heading
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
      // /.row


      hr.featurette-divider
      .row.featurette.topsoil
        .col-md-5
          img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Why Compost?
            div.sub See for yourself.
          p.lead
            | Nearly 30% of landfill waste is compostable - Reduce waste - Support local farms and gardens
            div.btn.btn-success(href='#', role='button') Buy A Compost Bin
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Educate Yourself
            div.sub Links and Resources
          ol
            li
              | Once a week, we gather up compostable waste of food scraps and yard clippings (2.5 gal) from residents and small business.  
            li
              | We take the compostable waste to 14.5 acre garden (composting site)
            li
              | When it is ready, we donate it to local urban farms, who use it to fertilize their soil.  They grow food and give back to the community. (LOOP)
          div.btn.btn-success.pull-right(href='#', role='button') Learn More
 

        .col-md-5
          img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')

      hr.featurette-divider
      // /END THE FEATURETTES

      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
    // /.container
    // Bootstrap core JavaScript
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='bootstrap_orig/js/carousel.js')
    script(src='/javascripts/holder.js')
