doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=600, initial-scale=1')
    link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    block head_script_includes

    link(rel='stylesheet', href='/stylesheets/style.css') 

  body

        .navbar(role='navigation')
          .navbar-header
            span.h1
              | Compost Denton
            .pull-right
              .dropdown
                button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', id='dropdown1')
                  span.glyphicon.glyphicon-th-large
                ul.dropdown-menu.pull-right.nav.navbar-nav(role='menu', aria-labelledby='dropdown1')
                  li
                    a(href='/register')
                      | Partners
                  li
                    a(href='/register')
                      | Pricing
                  if (!loggedin && title != 'Login' && title != "Register")
                    li
                      a(href='/register').button
                        button.btn.btn-success(type='button') Become a member
                    li
                      a(href='/login').button
                        button.btn.btn-primary(type='button') Log In
                  else if (title != 'Login' && title != "Register" && loggedin)
                    li
                      a(href='/#{id}/profile').button
                        button.btn.btn-primary(type='button') My Profile
                    li
                      a(href='/logout').button
                        button.btn.btn-success(type='button') Log Out

    .container
      block content
      script(src='https://code.jquery.com/jquery-1.10.2.min.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      block footer_script_includes

