doctype
html(lang='en')
  head
    link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    block head_script_includes

    link(rel='stylesheet', href='/stylesheets/style.css') 

  body
    .container
      .navbar-header.pull-right
        .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/register')
                  button.btn.btn-success.btn-xl(type='button' href='/register')
                    | Register
              li
                a(href='/login')
                  button.btn.btn-primary.btn-xl(type='button' href='/login')
                    | Login


    .container
      block content
      script(src='https://code.jquery.com/jquery-1.10.2.min.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      block footer_script_includes

