doctype
html(lang='en')
  head
    link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/carousel.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

  body
    .container
      .navbar-header.pull-right
        .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                button.btn.btn-primary.btn-xl(type='button')
                  span.fa.fa-sign-in
                  | &nbsp;&nbsp;Sign in

    .container
      block content
      script(src='https://code.jquery.com/jquery-1.10.2.min.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')

