extends layout

block content
  .row
    .col-md-10.col-md-offset-1
      .profile-title
        h1 Hello, #{name}
      h2 You've donated #{weight} pounds.
      br
      h4
        a(href='/') Home
        br
        br
        a(href='/logout') Logout