extends layout

block content
  .row
    .col-xl-12
      .profile-title
        h1 Hello, #{name}
      h1 You've donated #{weight} pounds.
      br
      h4
        a(href='/') Home
        br
        br
        a(href='/logout') Logout