extends layout

block head_script_includes
      link(href='/stylesheets/carousel.css', rel='stylesheet')
      link(href='/fuelux/css/fuelux.css', rel='stylesheet')


block content
    .col-xs-12.col-md-8
      .panel-group.registration#accordion
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                | Create An Account 
                .glyphicon.glyphicon-ok.green
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              if (message.length > 0)
                .alert.alert-danger
                  | #{message}
              form(action='/register' method='post')
                .form-group
                  label E-Mail
                  input.form-control(type='text' name='email')
                .form-group
                  label Password
                  input.form-control(type='password' name='password')
                button.btn.btn-primary(type='submit') Sign up and move on
                br
                br
              p.warning Sorry! That email is already taken. Did you 
                a
                  | forget your password
                | ?

              p Already have an account?
                a(href='/login')  Log In
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | Check Your Area for Service 
                .glyphicon.glyphicon-ok.green(style='display:none')
          #collapseTwo.panel-collapse.collapse
            .panel-body
              form(action='/register/#{id}' method='post')
                .form-group
                  label Name
                  input.form-control(type='text' name='name')
                .form-group
                  label Street Address
                  input.form-control(type='text' name='address')
                .form-group
                  label Zip Code
                  input.form-control(type='text' name='zip_code')
                .form-group
                  label How many people live here?
                  input.form-control(type='text' name='residents')
                button.btn.btn-primary(type='submit') Move on  
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                | Pay The Bills
                .glyphicon.glyphicon-ok.green(style='display:none')

          #collapseThree.panel-collapse.collapse
            .panel-body
              form(action='/register/#{id}/subscribe/basic' method='post' id='subscribe-form')
                .form-group
                  label Credit Card Number
                  input.form-control(type='text' id='card-number')
                .form-group
                  label CVC
                  input.form-control(type='text' id='card-cvc')
                .form-group
                  label Card Expiration Date (MM/YYYY)
                  input.form-control(type='text' id='card-expir-date')
                  input(type='hidden' name='amount' value='2000' id='cc-amount')
                button.btn.btn-primary(type='submit' id='subscribe-button') Subscribe
    .col-xs-12.col-md-4
      h2
        | Pricing
      p
        | $16 per month ($4 per week) gets you:
      ul
        li
          | Once five gallon compost bucket.
          br
          | Yours to keep - forever!
        li
          | Weekly compostables pickup service
        li
          | This Compost Denton Refrigerator Magnet
        li
          | This Compost Denton sticker

    // FOOTER
  footer
    p.pull-right
      a(href='#') Back to top
    p
      | © 2014 Compost Denton
block footer_script_includes
  script(src='/javascripts/carousel.js')
  script(src='/fuelux/all.js')