extends layout

block content
  .row
    .col-md-6
      .page-header
        h1
          | Register
      h3 Create an Account
      if (message.length > 0)
        .alert.alert-danger
          | #{message}
      form(action='/register' method='post')
        .form-group
          label E-Mail
          input.form-control(type='text' name='email')
        .form-group
          label Password
          input.form-control(type='password' name='password')
        button.btn.btn-primary.btn-lg(type='submit') Register
      hr
      p Already have an account?
        a(href='/login')  Login
      p Or go
        a(href='/')  Home