extends layout

block content
  .row
    .col-md-12
      .page-header
        h1
          | Registration Complete!

      h2 Thanks, #{name}!
      h3 You're well on your way to a more sustainable lifestyle
      br
      a(href='/#{id}/profile') Check out your profile
      br
      br
      p Or go
        a(href='/')  Home