extends layout

block content
  .row
    .col-md-12
      .page-header
        h1
          | Registration Complete!

      p Congatulations! You're on your way to a more sustainable lifestyle!
      a(href='/') Go Home