          .top-img
            img.featurette-image.img-responsive(src='/images/logo.png', alt='Logo')
            div.captions
              div.cap.caption1.lead
                span.header
                  | Step 1: 
                | Sign up and collect compostables at home.
              div.cap.caption2.lead(style='display:none')
                span.header
                  | Step 2: 
                | We pick up your compostables weekly.
              div.cap.caption3.lead(style='display:none')
                span.header
                  | Step 3: 
                | You benefit when high quality compost is returned to our community.