body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-nav > li {
  margin: 0px;
}
.navbar-nav > li > a {
  padding-top: 0px;
}
.dropdown-menu > li > a:hover {
  background-color: none;
}
.nav li a {
  margin-top: 10px;
}
.nav li .button {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .container .marketing .row .featurette .first {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .profile-title h1 {
    font-size: 7em;
  }
}

@media (min-width: 850px) {
  .navbar .dropdown .dropdown-toggle{
    display:none;
  }
  .navbar .dropdown .dropdown-menu{
    display:block;
  }
}
@media (max-width: 850px) {
  .navbar .dropdown .dropdown-menu{
    margin-right:0;
    margin-top:10px;
  }
}
