body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.nav li {
  margin-left: 15px;
}
.nav li .container {
  padding-left: 0;
  padding-right: 0;
}
.nav li .navbar {
  padding-left: 15px;
  padding-right: 15px;
}
.nav li .pull-right {
  padding-right: 15px;
}
.btn-warning {
  color: #fff;
  background-color: #608737;
  border-color: #4f6f2d;
  border-width: 2px;
}
.btn-primary {
  color: #fff;
  background-color: #96c961;
  border-color: #8fad5c;
  border-width: 2px;
}
.content {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .profile-title h1 {
    font-size: 7em;
  }
}
