body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF



.navbar
  margin-bottom: 0px;

.navbar-nav > li
  margin: 0px;
.navbar-nav > li > a
  padding-top: 0px

.dropdown-menu > li > a:hover 
  background-color: none 

.nav li a
  margin: 0px

.btn-primary
  color: #FFF;
  background-color: #96c961;
  border-color: #8fad5c;
  border-width: 2px;

.btn-primary:hover
  background-color: #b3ee75;
  border-color: #8fad5c;

.btn-primary:focus,
.btn-primary.active
  color: #FFF;
  background-color: #96c961;
  border-color: #8fad5c;
  border-width: 2px;

@media (min-width: 992px)
  .container
    .marketing
      .row
        .featurette
          .first
            margin-top: 25px;

@media (min-width: 768px)
  .profile-title h1
    font-size: 7em

