body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF



.navbar
  margin-bottom: 0px;

.navbar-nav > li
  margin: 0px;
.navbar-nav > li > a
  padding-top: 0px

.dropdown-menu > li > a:hover 
  background-color: none 

.nav li a
  margin: 0px

@media (min-width: 992px)
  .container
    .marketing
      .row
        .featurette
          .first
            margin-top: 25px;

@media (min-width: 768px)
  .profile-title h1
    font-size: 7em

