body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

// Custom Navbar
.navbar-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 20

  .container
    padding-left: 0
    padding-right: 0

  .navbar
    padding-left: 15px
    padding-right: 15px;

  .pull-right
    padding-right:15px;

.content
  margin-top: 20px

@media (min-width: 768px)

  .navbar-wrapper 
    margin-top: 20px
  
  .navbar-wrapper .container
    padding-left:  15px
    padding-right: 15px
  
  .navbar-wrapper .navbar 
    padding-left:  0
    padding-right: 0

  .navbar-wrapper .navbar 
    border-radius: 4px

  .carousel-caption p 
    margin-bottom: 20px
    font-size: 21px
    line-height: 1.4

  .featurette-heading 
    font-size: 50px